.tregLogo{
    height: 100px;
    width: 100%;
} 

.logoCol{
    max-height:300px;
}

.agentRow{
    border-bottom: 2px solid lightgrey;
}

ion-col{
    text-align: left;
}

ion-row{
    justify-content: center;
}