/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'ExoReg';
    src: url('assets/fonts/Exo2-Regular.ttf');
}

ion-spinner {
    transform: scale(2);
} 

::-webkit-scrollbar {
    display: none !important;
}

ion-title {
    font-family: 'ExoReg';
}

ion-content {
    font-family: 'ExoReg';
}

ion-text {
    font-family: 'ExoReg';
}

ion-label {
    font-family: 'ExoReg' !important;
    padding-bottom: 5px;
}

ion-item {
    font-family: 'ExoReg' !important;
}

ion-textarea {
    font-family: 'ExoReg' !important;
}
ion-tab-bar {
    --border: none;
}
ion-input{
    --background: #f3f3f3 !important;
}

ion-select{
    background: #f3f3f3 !important;
}


.logo {
    height: 50px;
    width: 100%;
}

ion-row {
    font-family: 'ExoReg';
    justify-content: center;
}

ion-col {
    text-align: center;
    font-family: 'ExoReg';
}

ion-button {
    font-family: 'ExoReg';
}

.toastAlert{
  --background: #000000;
  color: white;
  width: 100%;
  text-align: center;

}

.actionSheet{
    --background-opacity: #00000095;
    font-size: 20px;
}